<h1>Listing remindees</h1>

<table>
  <tr>
    <th>Cellphone</th>
    <th>Provider</th>
    <th>Starting month</th>
    <th>Ending month</th>
		<th>Remind at</th>
  </tr>

<% @remindees.each do |remindee| %>
  <tr>
    <td><%=h remindee.cellphone %></td>
    <td><%=h remindee.mobile_company.name %></td>
    <td><%=h remindee.starting_month %></td>
    <td><%=h remindee.ending_month %></td>
		<td><%=h remindee.at %></td>
    <td><%= link_to 'Show', remindee %></td>
    <td><%= link_to 'Edit', edit_remindee_path(remindee) %></td>
    <td><%= link_to 'Destroy', remindee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New remindee', new_remindee_path %>