<h1>New remindee</h1>

<% form_for(@remindee) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :cellphone %><br />
    <%= f.text_field :cellphone %>
  </p>
  <p>
	    <%= f.label :mobile_company_id %><br />
	    <%= f.select :mobile_company_id, MobileCompany.all(:order => "name ASC").collect {|m| [ m.name, m.id ] } %>
  </p>
  <p>
    <%= f.label :starting_month %><br />
		<%= select_month(Date.civil(Date.today.year, 4, 1), {:field_name => :starting_month, :prefix => :remindee}) %>
  </p>
  <p>
    <%= f.label :ending_month %><br />
    <%= select_month(Date.civil(Date.today.year, 11, 1), {:field_name => :ending_month, :prefix => :remindee }) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

</table>

<%= h Time.now.month.first_wednesday %>
<%= link_to 'Back', remindees_path %>