<hr class="space"/>
<hr class="space"/>

<div class="span-9 colborder">
<% form_for(@remindee) do |f| %>
<%= f.error_messages :class => "error", :header_tag => "h3", :header_message => ""%>



	<% field_set_tag 'Send a Text Message to', :class => "span-7" do %>
		<div class="span-7">
			<%= f.label :cellphone, "Your Cell Number", :class => "inline" %>&nbsp;
			<%= f.text_field :cellphone, {:size => 15, :class => "inline"}  %>
		</div>
		<div class="span-7">
		<%= f.label :mobile_company_id, "Cellphone Company" %>&nbsp;
		<%= f.select :mobile_company_id, MobileCompany.all(:order => "name ASC").collect {|m| [ m.name, m.id ]} %>
		</div>
	<% end -%>



	<% field_set_tag 'On the Following Days', :class => "span-7" do %>
		<% f.fields_for :reminder_day_and_weeks do |rdaw_form| %>
			<%= rdaw_form.select :week_of_month, ReminderDayAndWeek::WEEKS_OF_MONTH.map {|value| [value.titleize, value]} %>
			&nbsp;
			<%= rdaw_form.select :day_of_week, Date::DAYNAMES.map {|value| [value.titleize, value]} %>
			<br />
		<% end -%>
		<hr class="space"/>
	
		<%= f.label :starting_month, "From" %>&nbsp;<%= select_month(Date.civil(Date.today.year, 4, 1), {:field_name => :starting_month, :prefix => :remindee}) %>
		&nbsp;<%= f.label :ending_month, "Through" %>&nbsp;
		<%= select_month(Date.civil(Date.today.year, 11, 1), {:field_name => :ending_month, :prefix => :remindee }) %>
	<% end -%>



	<% field_set_tag 'When to Send', :class => "span-7" do %>		
		<% Remindee::AT_TIMES.each do |disp, value| %>
			<%= f.radio_button :at, value %>
			<%= f.label :at, (h disp), {:id => f.object_name + '_at_' + value, :class => "plain"} %>
			<br />
		<% end -%>
	<% end -%>


	<%= f.submit 'Sign Up' %>
<% end %>

<% if flash[:success] -%>
<hr class="space"/>
<div class="success"><%= flash[:success] %></div>
<% end -%>

</div>



<div class="span-14 last">
	<h1 class="quiet">Tired of street sweeping tickets?</h1>
	<h3 class="quiet">Towminder is a <span class="highlight">free</span> street sweeping reminder service. Fill out the information to the left and you'll get a text message reminding you to move your car. It's as easy as 1-2-3.</h3>

	<hr class="space"/>
	<hr class="space"/>
	<hr class="space"/>
	
	<h3 class="quiet">To stop receiving reminders, enter your cell number below.</h3>
	
	<div class="span-14">
		<% form_tag('/destroy', :method => :delete, :class => "inline") do -%>
			<%= label_tag 'cellphone_to_destroy', 'Your Cell Number' %>&nbsp;
			<%= text_field_tag 'cellphone_to_destroy' %>&nbsp;
			<%= submit_tag 'Remove', :confirm => 'Are you sure?' %>
		<% end -%>
	
		<% if flash[:removed] -%>
			<p class="success"><%= flash[:removed] %></p>
		<% end -%>
		<% if flash[:not_removed] -%>
			<p class="error"><%= flash[:not_removed] %></p>
		<% end -%>
	</div>
	
	<!-- It's pretty clear I'm not a CSS guy, thanks Blueprint! -->
	<hr class="space"/>
	<hr class="space"/>
	<hr class="space"/>
	<hr class="space"/>
	<hr class="space"/>
	<hr class="space"/>
	<hr class="space"/>
	<hr class="space"/>
	<hr class="space"/>
	
	<div class="span-7">&nbsp;</div>
	<div class="span-7 last">
		<h4 class="quiet highlight">Credits</h4>
		<%= image_tag "glenn.jpg", :style => "border:1px solid black; float:right", :size => "50x50", :alt => "Glenn" %>
		<p>Living in Capitol Hill, Glenn made Towminder after getting one too many tickets. 
			Written in <a href="http://github.com/oppegard/towminder">Rails</a>
			and hosted by <a href="http://www.aktiom.net">Aktiom</a> in Denver. Email <a href="&#109;&#97;&#105;&#108;&#116;&#111;:&#x67;&#x6C;&#x65;&#x6E;&#x6E;&#x40;&#x74;&#x6F;&#x77;&#x6D;&#x69;&#x6E;&#x64;&#x65;&#x72;&#x2E;&#x63;&#x6F;&#x6D;" title="">me</a>.</p>
	</div>
</div>