<h1>New remindee</h1>

<% form_for(@remindee) do |f| %>
  <%= f.error_messages %>
	
	<% field_set_tag 'Send an SMS to' do %>
  <p>
    <%= f.label :cellphone %>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<%= f.label :mobile_company_id %><br />
    <%= f.text_field :cellphone, {:size => 10}  %>
		&nbsp;
	  <%= f.select :mobile_company_id, MobileCompany.all(:order => "name ASC").collect {|m| [ m.name, m.id ] } %>
  </p>
	<% end %>

	<p>
	<% field_set_tag 'On the' do %>
			<% f.fields_for :reminder_day_and_weeks do |rdaw_form| %>
			<div>
				<%= rdaw_form.select :week_of_month, ReminderDayAndWeek::WEEKS_OF_MONTH.map {|value| [value.titleize, value]} %>
				&nbsp;
				<%= rdaw_form.select :day_of_week, Date::DAYNAMES.map {|value| [value.titleize, value]} %>
			</div>
			<% end %>
	<% end %>
	</p>
	
  <p>
    <%= f.label :starting_month %><br />
		<%= select_month(Date.civil(Date.today.year, 4, 1), {:field_name => :starting_month, :prefix => :remindee}) %>
  </p>
  <p>
    <%= f.label :ending_month %><br />
    <%= select_month(Date.civil(Date.today.year, 11, 1), {:field_name => :ending_month, :prefix => :remindee }) %>
  </p>
	<p>
		<%= f.label :at, "Remind me" %><br />
		<!-- <%= f.select :at, Remindee::AT_TIMES %> -->
		<% Remindee::AT_TIMES.each do |disp, value| %>
		<%= f.radio_button :at, value %>
		<%= h disp %>
		<br />
		<% end %>
		
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

</table>

<%= h Time.now.month.first_wednesday %>
<%= link_to 'Back', remindees_path %>