<p>
  <b>Cellphone:</b>
  <%=h @remindee.cellphone %>
</p>

<p>
  <b>Provider:</b>
  <%=h @remindee.mobile_company.name %>
</p>

<p>
  <b>Starting month:</b>
  <%=h @remindee.starting_month %>
</p>

<p>
  <b>Ending month:</b>
  <%=h @remindee.ending_month %>
</p>

<p>
  <b>Remind at:</b>
  <%=h @remindee.at %>
</p>


<%= link_to 'Edit', edit_remindee_path(@remindee) %> |
<%= link_to 'Back', remindees_path %>