<h1>Listing mobile_companies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email suffix</th>
  </tr>

<% @mobile_companies.each do |mobile_company| %>
  <tr>
    <td><%=h mobile_company.name %></td>
    <td><%=h mobile_company.email_suffix %></td>
    <td><%= link_to 'Show', mobile_company %></td>
    <td><%= link_to 'Edit', edit_mobile_company_path(mobile_company) %></td>
    <td><%= link_to 'Destroy', mobile_company, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New mobile_company', new_mobile_company_path %>