<h1>New mobile_company</h1>

<% form_for(@mobile_company) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email_suffix %><br />
    <%= f.text_field :email_suffix %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', mobile_companies_path %>